/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #1c1c1c;
  color: white;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

hr {
  background-color: grey;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  // overflow-y: visible !important;
  // scrollbar-gutter: auto;
  padding-right: 12px !important;
}
